
<html lang="en" data-layout-decorate="~{fragments/layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org" >
<head>
    <title>new-training</title>


</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">
        <div class="row">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>New Training</h2>
                        <ul class="nav navbar-right panel_toolbox">

                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                        <form class="form-horizontal form-label-left" th:action="@{/admin/training/new-training}" th:object="${trainingCreateDtoA}" method="post" enctype="multipart/form-data">

                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">Title  <span class="required">*:</span>
                                </label>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" id="name" required="required" th:field="*{name}" class="form-control">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="description">Description <span class="required">*:</span>
                                </label>

                                <div class="col-md-6 col-sm-6">
                                <textarea id="description" required="required" class="form-control" name="description" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                                          data-parsley-validation-threshold="10" th:field="*{description}"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="description">trainer <span class="required">*:</span>
                                </label>
                                <div class="col-md-6 col-sm-6">

                                <select id="heard"  th:field="*{trainer.id}" class="form-control" >
                                  <option th:each="tr:${trainers}"th:value="${tr.id}"><h4 th:text="${tr.firstname}"></h4></option>
                              </select>
                                </div>
                          </div>
                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="description">Category <span class="required">*:</span>
                                </label>
                                <div class="col-md-6 col-sm-6">

                                <select id="heard" th:field="*{category.id}" class="form-control" >
                                    <option  th:each="ca : ${category_list} " th:value="${ca.id}"><h4 th:text="${ca.name}"></h4></option>
                                </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="heard">Number of Hour:</label>

                                <input type="text" class="demo_0 " name="my_range" th:field="*{NumberOfHours}" value=""0/>
                            </div>
                            <div class="form-group row">
                                <label for="heard">Difficulty:</label>

                                <input type="text" class="demo_6" name="my_range1" th:field="*{Difficulty}" value=""0/>
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label col-md-3 col-sm-3 label-align" for="description">photo <span class="required">*:</span>
                                </label>                                <input type="file" id="photo" required="required" th:field="*{photo}" accept="image/png, image/jpeg"  class="custom-file-input">

                            </div>

                            <div class="col-md-2 col-sm-4 " >

                                <button type='submit' class="btn btn-primary">Submit</button>
                            </div>



                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
</body>
</html>
