
<html lang="en" data-layout-decorate="~{fragments/layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org" >
<head>
    <title>new-category-training</title>
</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class=""></div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Add New Category</h2>
                    <ul class="nav navbar-right panel_toolbox">

                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-horizontal form-label-left" th:action="@{/admin/training/new-training-category}" th:object="${trainingCategoryDto}" method="post" enctype="multipart/form-data" >
                                <div class="form-group row">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="name">Name<span class="required">*:</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6">
                                        <input type="text" id="name" required="required" th:field="*{name}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="description">Description  <span class="required">*:</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6">
                                <textarea id="description" required="required" class="form-control" name="description" th:field="*{description}"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="photo">Photo  <span class="required">*:</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6">
                                        <input type="file" id="photo" required="required" th:field="*{photo}" accept="image/png, image/jpeg"  class="custom-file-input">
                                    </div>
                                    <div class="col-md-2 col-sm-4 " >
                                        <button type='submit' ><i class="fa fa-plus"></i> </button>
                                    </div>

                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

