
<html lang="en" data-layout-decorate="~{fragments/layout}"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org" >
<head>
    <title>Trainers List</title>


</head>

<body>
<div class="right_col" role="main" data-layout-fragment="content">
    <div class="">

    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Learners List </h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a href="#/refresh"><i class="fa fa-refresh"></i></a></li>
                        <li><a href="#/refresh"><i class="fa fa-plus-square"></i></a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card-box table-responsive">
                                <table id="example" class="table table-striped table-bordered" style="width:100%">
                                    <thead>
                                    <tr>
                                        <th style="text-align: center">username</th>
                                        <th style="text-align: center">firstName</th>
                                        <th style="text-align: center">lastName</th>
                                        <th style="text-align: center">Email</th>
                                        <th style="text-align: center">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="trainer : ${trainers}">
                                        <td style="text-align: center" th:text="${trainer.username}"></td>
                                        <td style="text-align: center" th:text="${trainer.firstname}"></td>
                                        <td style="text-align: center" th:text="${trainer.lastname}"></td>
                                        <td style="text-align: center"  th:text="${trainer.email}"></td>
                                        <td style="text-align: center">
                                            <div class="fa-hover col-md-2 col-sm-3" style="text-align: center"></div>
                                            <div class="fa-hover col-md-2 col-sm-3" style="text-align: center"><a href="#/download"><i class="fa fa-edit"></i></a></div>
                                            <div class="fa-hover col-md-2 col-sm-3"style="text-align: center"><a href="#/download"><i class="fa fa-eye"></i></a></div>
                                            <div class="fa-hover col-md-2 col-sm-3"style="text-align: center"><a th:href="@{/admin/trainers/delete(id=${trainer.id})}"><i class="fa fa-times"></i> </a></div>
                                        </td>


                                    </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</div>
</div>

</div>
</div>


</body>
</html>
